.deck-editor {
  display: flex;

  $verticalSpace: 25px;

  &.card {
    position: relative;
    border-radius: 8px;
    padding: 40px 35px;
    padding-bottom: 85px;
    box-shadow: $simpleShadow;
    background: whitesmoke;

    $fontSize: 16px;

    form {
      label {
        font-size: $fontSize - 4px;
        font-style: italic;
        display: block;
        margin-bottom: 5px;
      }

      input {
        font-size: $fontSize;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $accentColor;
        box-shadow: none;
        margin-bottom: $verticalSpace;
        width: 100%;

        &[type="file"] {
          border: 0;
        }
      }
    }

    .image {
      position: relative;

      .second-commander {
        position: absolute;
        top: 45px;
        left: 15px;
      }

      img {
        padding-right: 35px;
      }

      width: 40%;
    }

    .content {
      width: 60%;

      .commander_counts {
        display: flex;
        margin-bottom: $verticalSpace;

        .count {
          cursor: pointer;
          padding: 15px 30px;
          border: 2px solid $accentColor;
          width: 49%;
          display: inline-block;
          text-align: center;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          transition: $transitionAll;

          &:hover {
            background: lighten($accentColor, 60%);
          }

          &.active {
            background: $accentColor;
            color: white;
          }

          &:last-child {
            border-left: 0;
            border-radius: 0 8px 8px 0;
          }
        }


      }

      .selected-colors {
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        padding: 0;
        margin: 0 0 $verticalSpace;
        list-style: none;
        opacity: 0.8;

        li {
          $size: 25px;
          width: $size;
          height: $size;
          margin-right: 10px;
          border-radius: 100%;
        }
      }

      .color-selector {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0 0 $verticalSpace;
        list-style: none;

        li {
          $size: 35px;
          width: $size;
          height: $size;
          cursor: pointer;
          margin-right: 10px;
          border-radius: 100%;
          border: 2px solid transparent;
          opacity: 0.5;

          &.active {
            border: 2px solid black;
            opacity: 1;
          }
        }
      }
    }
  }
}