.deck-editing .deck-listing {
  li {
    width: 24%;
  }
}

.deck-listing {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 32%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline-block;
  }

  li.top-level-list {
    min-width: 80px;
    display: flex;

    .deck-preview {
      // overflow-x: hidden;
      flex-grow: 1;
    }
  }
}