.drawer-editor {
  .deck-listing {
    margin: 20px;
  }

  .deck-listing, .drawer-column {
    .deck-preview {
      padding: 10px;

      .selected-colors li {
        width: 20px;
        margin-right: 1px;
        margin-bottom: 0;
      }
    }
  }

  .scrollable-column {
    height: 80%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .drawer-container {
    margin-bottom: 35px;

    .drawer {
      $rowHeight: 210px;
      border: 2px solid black;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      position: relative;

      .drawer-handle {
        position: absolute;
        $height: 20px;
        height: $height;
        bottom: -$height;

        right: 0;
        border: 4px solid black;
        $width: 140px;
        width: $width;
        left: calc(50% - (#{$width} / 2));

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }

      .drawer-row {
        width: 100%;
        height: $rowHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;


        .drawer-column {
          width: 25%;
          height: $rowHeight;
          display: inline-block;
          text-align: center;
          border: 2px solid black;
          overflow: hidden;
        }
      }
    }
  }
}