$deviceSizes: (
        sm: 544px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

@function get-size($name) {
  $size: map_get($deviceSizes, $name);
  @return if($size != null, $size, null);
}

@mixin button($color) {
  $buttonColor: $color;
  display: inline-block;
  background: $buttonColor;
  font-size: 20px;
  padding: 10px 35px;
  border: 2px solid $buttonColor;
  color: white;
  cursor: pointer;
  border-radius: 8px;

  &:disabled {
    cursor: not-allowed;
    background: $light-gray;
    color: white;
    border: 2px solid $light-gray;
  }

  &:hover:not(:disabled) {
    color: white;
    background: darken($buttonColor, 10%);
    border: 2px solid darken($buttonColor, 10%);
  }

  &:focus {
    background: transparent;
    color: $buttonColor;
    outline: 0;
  }
}

@mixin up-from($name) {
  $size: get-size($name);
  @if ($size) {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @error "No such device size: " + $name
  }
}

@mixin down-from($name) {
  $size: get-size($name);
  @if ($size) {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @error "No such device size: " + $name
  }
}
