$maxWidth: 1200px;
$dark-grey: #525f7f;
$dark-gray: #525f7f;
$accentColor: blue;

$w: #FFFBD8;
$u: #A7DFF9;
$b: #CABEBF;
$r: #F9A88F;
$g: #9AD1AF;

$transitionAll: 0.2s all;
$simpleShadow: 0 15px 35px rgba(50, 50, 93, 0.01), 0 5px 15px rgba(0, 0, 0, 0.07)