$maxWidth: 1200px;
$dark-grey: #525f7f;
$dark-gray: #525f7f;
$accentColor: #2A1E5C;

$w: #FFFBD8;
$u: #A7DFF9;
$b: #CABEBF;
$r: #F9A88F;
$g: #9AD1AF;

$transitionAll: 0.2s all;
$simpleShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;